body {
    background-color: #212529;
}

.bg-dark {
    background-color: #023047!important;
}

.navbar-dark .navbar-brand {
    color: #ffb703;
}

.cookie-consent-container {
    width: 300px;
    position: fixed;
    bottom: 0;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffb703;
}

.container-fluid {
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.article {
    border-radius: 10px;
    width: 100%;
}

.artigo {
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 10px;
}

.lateral {
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
}

.maisviews {
    background-color: #ffb703;
    text-align: center;
    color: #023047;
}

.footer {
    background-color: #023047;
    color: #fff;
    padding-top: 20px;
}

.footer a {
    color: #ffb703;
}
  
  aside {
    width: 40%;
    padding: 20px;
    margin-left: 20px;
  }

#contato {
    color: #fff;
}

#sobre {
    color: #fff;
    text-align: justify;
}